Here are your books!
===============================================
 
<% @books.each do |book| %>
* Title: <%= book.title %>
  Name: <%= book.name %>
  Link: <%= book.link %> 
<% end %>

<p>include a link to the website</p>