<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <ul>
      Loop through every book in the response displaying the title of the book, the author's name, the link to the book's goodreads page, and an image of it's cover.
    </ul>
    <p>include a link to the website</p>
  </body>
</html>