<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <ul>
      <% @books.each do |book| %>
        <li>
          Title: <%= book.title %>
          Name: <%= book.name %>
          Link: <%= link_to 'Goodreads page', book.link %>
          <%= image_tag book.image %>
        </li>
      <% end %>
    </ul>
    <p>include a link to the website</p>
  </body>
</html>